<!DOCTYPE html>
<html>
  
    <%- include('./partials/head') %>
  
    <%- include("./partials/header") %>    
  
    <body class="body">    
      
    <div class="container">
    <!-- <%- include("./partials/sidebar") %>     -->
      
    <button class="toggle-button">!!!</button>
    <div class="sidebar active">
        <div class="sidebar-content">
            <div class="section">
                <h2>Title 1</h2>
                <ul>
                    <button class="sidebar-button-item" data-target="item1">Item 1</button>
                    <button class="sidebar-button-item" data-target="item2">Item 2</button>
                </ul>
            </div>
            <div class="section">
                <h2>Title 2</h2>
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                </ul>
            </div>
            <div class="section">
                <h2>Title 3</h2>
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Page content -->
    <!-- <div class="ps-content"> -->
    <div class="main-content">

    <%- include("./partials/card2") %>    

    <hr />      
    <!-- Table Section -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Columna 1</th>
            <th>Columna 2</th>
            <th>Columna 3</th>
            <th>Columna 4</th>
            <th>Columna 5</th>
            <th>Columna 6</th>
            <th>Columna 7</th>
          </tr>
        </thead>
            <tbody>
              <% for(let index=0; index < 5; index++) { %>
            <tr>
            
            <td> <a href="/detalle/<%= clubes[index].id %>"></a><%= clubes[index].nombre %></td>
            <td><%= clubes[index].cuit %></td>
            <td><%= clubes[index].provincia %></td>
            <td><%= clubes[index].municipio %></td>
            <td><%= clubes[index].municipio %></td>
            <td><%= clubes[index].subsidios %></td>
            <td><%= clubes[index].socios %></td>
            <!-- <td> eliminar producto 
              <form action="/products/<%= clubes[index].id %>?_method=DELETE" method="post">
              <button type="submit" class="ps-btn ps-btn-danger">Eliminar</button>
            </form></td> -->
            <td>Dato 1-6</td>
          </tr>
          <% } %>
                    <!-- Agrega más filas si es necesario -->
                  </tbody>
                </table>
              </div>
    
    </div>
    <br />
    
  </div>
    </div>  
  </body>
   
<!-- Footer -->
    
    <%- include("./partials/footer") %>
  
</html>


<script>
  const toggleButton = document.querySelector('.toggle-button');
  const sidebar = document.querySelector('.sidebar');
  const sidebarButtons = document.querySelectorAll('.sidebar-button');
  const tableContainer = document.querySelector('.table-container');
  
  toggleButton.addEventListener('click', () => {
      sidebar.classList.toggle('active');
  });
  
  sidebarButtons.forEach(button => {
      button.addEventListener('click', () => {
          const target = button.getAttribute('data-target');
          if (target === 'item1') {
              tableContainer.innerHTML = '<p>Contenido del Item 1</p>';
          } else if (target === 'item2') {
              tableContainer.innerHTML = '<p>Contenido del Item 2</p>';
          }
      });
  });
      </script>